.container {
  width: 100%;
  height: 30vh;
  background-color: blueviolet;
}

.carousel {
  height: 30vh;
}

.slide {
  height: 30vh;
}

img {
  height: 30vh;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .container {
    height: 25vh;
  }

  .carousel {
    height: 25vh;
  }

  .slide {
    height: 25vh;
  }

  img {
    height: 25vh;
    object-fit: cover;
  }
}