.container {
  display: flex;
  align-items: center;
  width: 60%;
}

.bannerImg {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .bannerImg {
    width: 100%;
    border-radius: 0px;
  }
}